# Web Framework (For the backend API)
fastapi
uvicorn[standard]
pydantic-settings

# Database Drivers and ORM
psycopg2-binary
SQLAlchemy>=2.0
sqlalchemy-utils

# Data Processing and Analysis
networkx
numpy
scipy

# Document Parsing & Ingestion
python-docx
tqdm
python-dotenv
Pillow

# Google AI
google-generativeai
