# Web Framework (For the backend API)
fastapi
uvicorn[standard]
pydantic-settings

# Database Drivers and ORM
psycopg2-binary
SQLAlchemy>=2.0
sqlalchemy-utils
pgvector

# Data Processing and Analysis
networkx
numpy
scipy
torch>=2.3.0
transformers>=4.51.0
cachetools

# Document Parsing & Ingestion
python-docx
tqdm
python-dotenv
Pillow

# Google AI
google-generativeai
